<!-- Dev.to Plugin Shared Templates -->

{% comment %} === ARTICLE ITEM TEMPLATE === {% endcomment %}
{% template article_item %}
  {% assign image_available = cover_image and cover_image != '' %}
  
  <div class="item {{ cssClasses }}">
    <div class="meta"></div>
    <div class="flex flex--row flex--top">
      {% if show_image and image_available %}
        <div class="h--12 aspect--4/3">
          <img class="w--20 h--auto image image-dither" src="{{ cover_image }}">
        </div>
      {% endif %}
      <div class="content w--auto">
        <span class="title {{ title_size }}" data-clamp="{{ title_clamp }}">{{ title }}</span>
        {% if show_description and description %}
          <span class="description" data-clamp="{{ description_clamp }}">{{ description }}</span>
        {% endif %}
        <div class="flex {{ meta_gap }}">
          {% if show_author %}
            <span class="label {{ label_size }}">{{ author | truncate: author_truncate }}</span>
          {% endif %}
          {% if show_tags and tags %}
            {% assign tags_array = tags | split: ', ' %}
            {% for tag in tags_array limit: max_tags %}
              <span class="label {{ label_size }}">#{{ tag }}</span>
            {% endfor %}
          {% endif %}
          {% if show_reading_time %}
            <span class="label {{ label_size }}">{{ reading_time }} min</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endtemplate %}

{% comment %} === HEADER TEMPLATE === {% endcomment %}
{% template devto_header %}
  <div class="flex flex--col {{ gap }}">
    <span class="title {{ title_size }}">DEV.TO{% if show_articles_text %} ARTICLES{% endif %}</span>
    {% if tag %}
      <span class="label {{ label_size }}">#{{ tag }}</span>
    {% endif %}
  </div>
{% endtemplate %}

{% comment %} === FOOTER TEMPLATE === {% endcomment %}
{% template devto_footer %}
  <div class="title_bar">
    <img class="image" src="https://media2.dev.to/dynamic/image/quality=100/https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png" />
    <span class="title">DEV.TO</span>
    <span class="instance">
      {% if tag and tag != '' %}#{{ tag }}{% endif %}
      {% if tag and tag != '' and state and state != '' %} • {% endif %}
      {% if state and state != '' %}{{ state }}{% endif %}
      {% unless tag and tag != '' or state and state != '' %}Articles{% endunless %}
    </span>
  </div>
{% endtemplate %}
